body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#main-container {
    display: flex;
    flex-direction: column-reverse;
    width: 48vh; /* Handybreite */
    height: 85vh; /* Handyhöhe */
    background-color: #333; /* Hintergrundfarbe */
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px; /* Abstand zum Rand für Nachrichten */
    overflow-y: auto; /* Scrollen bei Überlauf */
}

p {
    color: #333; /* Textfarbe */
    background-color: #e0e0e0; /* Hintergrundfarbe für Nachrichten */
    margin: 5px 0; /* Abstand zwischen Nachrichten */
    padding: 10px; /* Abstand innerhalb der Nachricht */
    border-radius: 15px; /* Abgerundete Ecken für Nachrichten */
    max-width: 80%; /* Breite der Nachricht, um das Layout wie im Chat zu gestalten */
    word-wrap: break-word; /* Zeilenumbruch für lange Nachrichten */
    display: inline-block; /* Größe passt sich dem Text an */
}

#indicator {
    width: 10px;
    height: 10px;
    position: relative;
    background-color: red;
    margin-bottom: 10px;
}
#container {
    position: absolute;
    top: 1vh;
    left: 1vh;
    display: flex;
    width: 100px;
    height: 50px;
    background-color: transparent;
    flex-wrap: wrap;
}
#name {
    position: relative;
    width: 100%;
    border-radius: 7px;
    margin: 5px;
}
#intext {
    border-radius: 1cm;
    margin-top: 15px;
}