body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column-reverse;
    
    width: 375px; /* Breite eines typischen Handys */
    height: 667px; /* Höhe eines typischen Handys */
    background-color: #333; /* Beispielhintergrundfarbe */
    border-radius: 20px; /* Abgerundete Ecken wie ein Handy */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Schatten für mehr Realismus */
    margin-top: 10px; /* Abstand zum oberen Rand */
    margin-bottom: 10px; /* Abstand zum unteren Rand */
}
#input {
    position: relative;
    width: 100%;
    height: 5px;
    bottom: 0%;
    background-color: transparent;
    border-radius: 20px;
    border: solid gray 1px;
    color: white;
}